name: CI

on:
  push:
    branches-ignore:
    - "dependabot/**"
    paths:
    - "**"
    - "!docs/**"
    tags:
    - "v*"
  pull_request:
    paths:
    - "**"
    - "!docs/**"

env:
  LC_ALL: en_US.UTF-8
  PUBLISH: ${{ (github.repository == 'kdex-tech/cli-tools') && startsWith(github.ref, 'refs/tags/') && (github.event_name != 'pull_request') }}

defaults:
  run:
    shell: bash

permissions:
  packages: write
  contents: read

jobs:
  ci:
    name: Build, Test, Publish
    runs-on: ubuntu-latest
    steps:
    - name: Clone the code
      uses: actions/checkout@v6

    - name: Publish Docker Image
      if: ${{ env.PUBLISH == 'true' }}
      uses: ./.github/actions/publish-docker-image
